---
version: "2.1"
services:
  snippet-box:
    image: pawelmalak/snippet-box:latest
    container_name: snippet-box
    volumes:
      - {{ home }}/smb/snippet-box/data:/app/data
    ports:
      - 5000:5000
    restart: unless-stopped
