---
version: "2.1"
services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:4.5.0
    container_name: qbittorrent
    environment:
      - TZ=Asia/Kolkata
      - WEBUI_PORT=8080
    volumes:
      - {{ home }}/qbit/config:/config
      - {{ home }}/smb/qbit/downloads:/downloads
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped
