---
version: "2.1"
services:
  filebot:
    image: jlesage/filebot
    container_name: filebot
    volumes:
      - {{ home }}/filebot/config:/config:rw
      - {{ home }}/smb:/storage:rw
    ports:
      - 5800:5800
    restart: unless-stopped

